<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893881193388-ovdcgqjv1542j0tj8h84lpmvhs2r7tcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893881193388-ovdcgqjv1542j0tj8h84lpmvhs2r7tcq</string>
	<key>API_KEY</key>
	<string>AIzaSyA9k_nQEH1qrOPddj9vetvRKH7Keysth3g</string>
	<key>GCM_SENDER_ID</key>
	<string>893881193388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testingBuild</string>
	<key>PROJECT_ID</key>
	<string>plantix-1c7f4</string>
	<key>STORAGE_BUCKET</key>
	<string>plantix-1c7f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893881193388:ios:4a0d832528eb520a802009</string>
</dict>
</plist>